services:
  dev:
    image: crystallang/crystal:1.19.1-alpine
    init: true
    command: sleep inf
    container_name: crystal
    environment:
      - HOME
    volumes:
      - $HOME:$HOME
    working_dir: $PWD
